/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family:Arial, Helvetica, sans-serif
}


/* header layout */
header{
    position: relative;
}
.header-cont{
    position:fixed;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 5rem;
    background-color: #FF6900;
    color: white;
}

header img{
    max-width: 15%;
    filter: contrast(100);

}

/* main layout */
main{
    padding-top: 200px;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  

}
.col{
    width: calc(100%/3 - (40px/3));
}

.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* footer layout */
.footer-cont{
    height: 80px;
    margin-top: 2rem;
    padding: 0 3rem;
    max-width: 100%;
    background-color: #1A1A1A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boolando{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boolando ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

/* ------------------------------------------- */

/* typography */
.header-cont a{
    color: inherit;
    text-decoration: none;
    padding: 0 1rem 0 0 ;
    font-weight: 700;
}

.heart{
    padding: 5px 10px;
    background-color: white;
    font-size:x-large ;
    position: absolute;
    top: 10px;
    right: 0;
}
.discount{
    background-color: red;
    color: white;
    padding: 5px;
    font-weight: 700;
    position: absolute;
    top: 75%;
    left: 0;
}

.eco{
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 5px;
    position: absolute;
    top: 75%;
    left: 50px;
}
.no-discount{
    position: absolute;
    top: 75%;
    left: 0;
}
.new-price{
    font-weight: 700;
    color: red;
    padding-right: 5px;
}
.old-price{
    font-weight: 700;
    text-decoration: line-through;
}

li a{

    color: inherit;
    text-decoration: none;
    font-size: x-small;

}

/* ---------------------------------------------- */

/* card */
.card{
    position: relative;
}
/* hovers */
.heart:hover{
    color: red;
}

.img-back{
    display: none;
}
.card:hover .img-back{
    display: block;
}
.card:hover .img-front{
    display: none;
}





