/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* layout */
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* debug */
    border: solid black;
    margin-top: 5rem;

}
.col{
    width: calc(100%/3 - (40px/3));
    /* debug */
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* ------------------------------------------- */

/* typography */
.heart{
    padding: 5px 10px;
    background-color: aquamarine;
}
.discount{
    background-color: red;
    color: white;
    padding: 5px;
}
.eco{
    background-color: green;
    color: white;
    padding: 5px;
}